body{
    margin: 0;
}

* {
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    z-index: 2;
}

.scene{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    min-height: 100vh;
}

.layer{
    position: absolute;
    left: -10%;
    top: 0;
    width: 110%;
    height: 110%;
}

.layer-bg{
    background: url('img/parallax_bg.jpg') center no-repeat / cover;
}

.layer-1{
    background: url('img/parallax_layer1.png') center no-repeat / cover;
}

.layer-2{
    background: url('img/parallax_layer2.png') center no-repeat / cover;
}